.tasksContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.taskContainer{
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 10px 15px;
    border-radius:15px;
}

.taskName{
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
    border-right: 1px solid rgba(255,255,255,0.2);
}

.taskDateStatus{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border-right: 1px solid rgba(255,255,255,0.2);
}

.taskDate{
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: center;
}

.taskStatus{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.completed{
    border: 1px solid limegreen;
    border-radius: 20px;
    padding: 3px;
    color: limegreen;
}

.inactive{
    text-decoration: line-through;
    color: gray;
}

.dark{
    background-color: rgba(0, 0, 0, 0.2);
}

.controlsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 10px;
    gap: 10px;
}

.controlsContainer button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.controlsContainer button:hover{
    cursor: pointer;
    color: orange;
    transition: all .5s;
}

@media screen and (max-width:900px) {
    .taskContainer{
        grid-template-columns: 1fr;
    }

    .taskName{
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        border-right: none;
        padding: 5px;
    }

    .taskDateStatus{
        padding: 5px 0px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        border-right:none
    }

    .controlsContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 5px;
        gap: 10px;
    }
}